#Question 1

Find the most profitable company from the financial sector. Output the result along with the continent.

assets:(col)
double precision
company:(col)
text
continent:(col)
text
country:(col)
text
industry:(col)
text
marketvalue:(col)
double precision
profits:(col)
double precision
rank:(col)
bigint
sales:(col)
double precision
sector:(col)
text

company	sector	industry	continent	country	marketvalue	sales	profits	assets	rank
ICBC	Financials	Major Banks	Asia	China	215.6	148.7	42.7	3124.9	1
Bank of China	Financials	Major Banks	Asia	China	124.2	105.1	25.5	2291.8	9

Answers

In [ ]:
# Import your libraries
from pyspark.sql.functions import *

# Start writing code
df = forbes_global_2010_2014.filter(col("sector")== 'Financials')\
.orderBy('profits', ascending= False)\
.limit(1)\
.select("company", "continent")


# To validate your solution, convert your final pySpark df to a pandas df
df.toPandas()

#Question 2 :

Find the number of employees working in the Admin department that joined in April or later.

department:
text
first_name:
text
joining_date:
date
last_name:
text
salary:
bigint
worker_id:
bigint

worker_id	first_name	last_name	salary	joining_date	department
1	Monika	Arora	100000	2014-02-20	HR

In [ ]:
# Import your libraries
from pyspark.sql.functions import *

# Start writing code
df = worker.filter( (month(col("joining_date")) >=4) & (col("department")=='Admin'))\
    .agg(count('*'))

# To validate your solution, convert your final pySpark df to a pandas df
df.toPandas()

#Question3 (id:10308)

Calculates the difference between the highest salaries in the marketing and engineering departments. Output just the absolute difference in salaries.

db_employee(table)
Preview
department_id:
bigint
first_name:
text
id:
bigint
last_name:
text
salary:
bigint


db_dept(Table)
Preview
department:
text
id:
bigint

In [ ]:
from pyspark.sql.functions import *

df = db_employee.join(db_dept, db_employee.department_id == db_dept.id, 'inner')\
  .agg(
        abs(
            max(
                when(db_dept['department'] == 'engineering', col('salary'))
            ) - 
            max(
                when(db_dept['department'] == 'marketing', col('salary'))
            )
        ).alias('salary_diff')
    )


df.toPandas()

Question 4

Find the most profitable company from the financial sector. Output the result along with the continent.

company:
string
sector:
string
industry:
string
continent:
string
country:
string
marketvalue:
double
sales:
double
profits:
double
assets:
double
rank:
bigint

In [ ]:
%python
# Import your libraries
from pyspark.sql.functions import *

# Start writing code
df = forbes_global_2010_2014.filter(col("sector")== 'Financials')\
.orderBy('profits', ascending= False)\
.limit(1)\
.select("company", "continent")


# To validate your solution, convert your final pySpark df to a pandas df
df.toPandas()

Question 5 :

Suppose we have a DataFrame with a column containing comma-separated values:

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode

spark = SparkSession.builder.appName("SplitExplodeExample").getOrCreate()

data = [("John,Jane,Doe",), ("Alice,Bob",)]
df = spark.createDataFrame(data, ["names"])

df.show()

+-------------+
|       names |
+-------------+
|John,Jane,Doe|
|    Alice,Bob|
+-------------+

In [ ]:
#Now, we apply split to convert the string into an array and then explode to create multiple rows:

df_split = df.withColumn("name_array", split(df["names"], ","))  # Splitting string into an array
df_exploded = df_split.select(explode(df_split["name_array"]).alias("name"))  # Exploding into multiple rows

df_exploded.show()

Output : +-----+
| name|
+-----+
| John|
| Jane|
|  Doe|
|Alice|
|  Bob|
+-----+